
/*  float : 네비게이션에 쓸까 잘 안씀 */
.img-float {
    float: left;
}

.nav {
    list-style: none;
}

.nav > li {
    float: left;
    width: 70px;
    height: 50px;
    background-color: skyblue;
    text-align: center; 
    line-height: 50px;
}