div {
    width: 200px;
    height: 200px;
    background-color: black;
}

@media (max-width: 500px) {
    div {
        width: 100px;
        height: 100px;
        background-color: red;
    }
}
 /* width 설정? 나의 주요 유저층이 사용하는 디스플레이 속성, 특성 알고 있음 -> 참고, 설정 */
 /* 실제 사용은 플랙스 박스, 그리드 사용 - why? 코드 복잡함 */
@media (min-width: 501px) and (max-width:800px) {
   div {
    display: none;
   }
} 

