

ul {
    list-style: none;
    line-height: 2rem;
}

.sub-title {
    color: red;
    font-size: 1.5em;
    font-weight: 900;   
}



/* 
.content {
   color: #ad3000;
   line-height: 100px;
}

divvv {
    background-size: 100px 100px;
    background-color: black;
    line-height: 1.5rem;
}

h1 {
    font-weight: 400px;
    line-height: 2em;
}

.color [
    
]

text {
    font-weight: 
}

div {
  font-weight: 300px;
}


.content2 {
    color: #ad3000;

}

.p {
    color:black
}
 */


